* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 14px; */
}

/* Utility classes */

.bg--lighter {
  background-color: #3c4043 !important;
}

.flex {
  display: flex;
}


.separator {
  height: .2px;
  border: none;
  width: 100%;
  background-color: #9aa0a6;
}

.block {
  display: block;
}

.hidden {
  display: none !important;
}


.link {
  text-decoration: none !important;
  border-bottom: 1px solid transparent;
}

.link--grey {
  color: #e8eaed;
}

.link--white {
  color: #e8e8e8 !important;
}

/* .link:hover {
  border-bottom: 1px solid #e8eaed;
} */

.link--blue {
  color: #5da4f8;
}

.rounder--full {
  border-radius: 50%;
}

.rounder--md {
  border-radius: 24px;
}


/* Main Css */

.wrapper {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;

  display: flex;
  flex-direction: column;

  background-color: #202124;

  min-height: 100vh;

  position: relative;
}

header {
  height: 60px;

  display: flex;
  justify-content: end;
  align-items: center;
}

.chocolatteBtn * {
  padding: 8px;
}

.chocolatteBtn:hover,
.chocolatteBtn:focus {
  border-radius: 50%;
  background-color: #303134;
}

.header__drop-down {
  background-color: #303134;
  border: 1px solid #303134;
  color: #e8eaed;
  border-radius: 8px;

  position: absolute;

  width: 314px;
  max-height: 400px;

  top: 60px;
  right: 20px;
  overflow-y: scroll;
  /* overflow: hidden; */
}

.drop-down__list {
  display: flex;
  flex-wrap: wrap;
  width: auto;
  max-height: 100%;
  align-items: center;
  justify-content: center;

  padding: 16px;
  gap: 16px;

}

.header__drop-down::-webkit-scrollbar {
  width: 16px;
}

.header__drop-down::-webkit-scrollbar-thumb {
  background-color: #5f6368;
  background-clip: padding-box;
  border: 4px solid transparent;
  border-radius: 8px;
  box-shadow: none;
  min-height: 50px;
}

.list__item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  justify-content: center;
  flex: 0 0 calc(33.3% - 16px);
}

.list__item:hover {
  border-radius: 8px;
  background-color: #17171740;
}


.header__nav {
  flex-grow: 0;
  flex-basis: 250px;
  height: 48px;
  padding-left: 32px;
  padding-right: 16px;

  display: flex;
  align-items: center;

}

.nav__text_container,
.nav__icon_container {
  flex-basis: 50%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  gap: 8px;
}

.nav__text_container * {
  color: #e8eaed;
  text-decoration: none;
}

/* .nav__icon_container {} */

.nav__icon_container :first-child {
  margin: 0 auto;
}

section {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main_logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;

  min-height: 92px;
  height: calc(80vh - 560px);
}

.search_bar {
  min-width: 100vw;

  max-height: 160px;
  padding: 20px;

  position: relative;
}





.search_bar__finder {
  margin: 0 auto;
  display: flex;

  position: relative;

  background-color: #202124;
  border: 1px solid #5f6368;
  width: auto;
  max-width: 584px;
  height: 44px;



  padding: 8px;

  align-items: center;
}

.search_bar__finder:focus-within {
  transition: border-radius .2s ease-in;
  border-radius: 24px 24px 0 0;
}

.search_bar__finder:hover,
.search_bar__finder:focus-within {
  background-color: #303134;
  box-shadow: 0 1px 6px 0 #171717;
  border-color: rgba(223, 225, 229, 0);
}


.finder {
  padding: 2px 0 0 4px;
  flex-basis: 24px;

  margin-right: 8px;
}

.finder * {
  fill: #9aa0a6;
}

.search_bar__input {

  flex: 1;
  height: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  line-height: 1.75rem;

  color: #e8eaed;
  font-size: 16px;
  word-wrap: break-word;
}



.search_bar__drop_down {
  margin: 0 auto;

  background-color: #303134;
  /* box-shadow: 0 1px 6px 0 #171717; */
  border-color: rgba(223, 225, 229, 0);
  border-top: 1px solid #e8e8e8;

  position: absolute;
  top: 44px;
  left: 0;
  right: 0;

  width: 100%;


  border-radius: 0 0 24px 24px;

  display: flex;

  flex-direction: column;

  overflow: hidden;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0 8px;

  padding: 8px;
}

.item:hover {
  background-color: #3c4043;
}

.item span {
  flex-grow: 1;
  font-size: 16px;
  color: #c58ae7;
}

.item a,
.item i {
  flex-grow: 0;
  padding: 0 4px;
}

/* .search_bar__input:focus{} */

.search_bar__search_by {
  flex: 0 0 80px;
  display: flex;
  align-items: center;
  justify-content: start;

}



.search_by__voice,
.search_by__image {
  cursor: pointer;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search_by__image *,
.search_by__voice * {
  height: 24px;
  width: 24px;
}

.search_bar__buttons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding-top: 18px;
}

.btn {
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  background-color: #303134;
  border: 1px solid #303134;
  color: #e8eaed;
  border-radius: 4px;
}

.btn:hover {
  box-shadow: 0 1px 3px rgba(23, 23, 23, 0.24);
  border: 1px solid #5f6368;
}

.language_picker {
  text-align: center;

  flex-grow: 1;
}

footer {
  background-color: #171717;
}

.footer__country {
  padding: 16px 24px;

  border-bottom: 1px solid #3c4043;
}

.footer__nav {
  display: flex;
  justify-content: space-between;

  padding: 16px 24px;
}

.nav__right,
.nav__left {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}